<div>

    <div class="col-lg-2">
        <admin-nav></admin-nav>
    </div>

    <div class="col-lg-10">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Crear Compañia</h4>
            </div>
            <div class="panel-body">

                <form>

                    <div class="row col-md-6">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" id="name"
                                   class="form-control"
                                   ng-model="ctrlForm.name">
                        </div>

                        <div class="form-group">
                            <label for="description">Descripción</label>
                            <input type="text" id="description"
                                   class="form-control"
                                   ng-model="ctrlForm.description">
                        </div>

                        <h4>Seleccionar los privilegios para este perfil</h4>

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox">
                                    Módulo
                                </th>
                                <th class="text-center">
                                    <input type="checkbox">
                                    Ver
                                </th>
                                <th class="text-center">
                                    <input type="checkbox">
                                    Crear
                                </th>
                                <th class="text-center">
                                    <input type="checkbox">
                                    Editar
                                </th>
                                <th class="text-center">
                                    <input type="checkbox">
                                    Borrar
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                    Prospetos
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox">
                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <button ng-click="(ctrlForm.createForm == true) ? ctrlForm.create() : ctrlForm.update()" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                            Guardar
                        </button>
                    </div>


                </form>

            </div>
        </div>

    </div>


</div>