<ui-view>

    <div class="Login-wrapper">

        <div class="Login-wrapper-inner">

            <div class="Login-title">
                <p>
                    ADMINISTRADOR TENANT
                </p>
            </div>

            <!--<figure class="Login-logo">
                <img src="../../assets/img/logo-crm-plus.png" style=" margin: 0 auto; display: block;"/>
            </figure>-->

            <ui-view>

                <form class="Login-form"
                      ng-submit="$ctrl.login()"
                      name="loginForm">

                    <input id="email"
                           type="text"
                           name="loginEmail"
                           ng-model="$ctrl.user.username"
                           class="Login-inputFields form-control"
                           placeholder="Usuario"
                           required>

                    <div class="clearfix"></div>

                    <input id="password"
                           type="password"
                           name="pwd"
                           ng-model="$ctrl.user.password"
                           class="Login-inputFields form-control"
                           ng-minlength="8"
                           placeholder="Contraseña"
                           ng-required=""/>

                    <div class="clearfix"></div>

                    <input class="form-control Login-button" type="submit" value="Ingresar">

                    <div class="clearfix"></div>

                    <!--<p class="Login-errorHandler animated fadeInDown" ng-if="$ctrl.errorHandler">
                        <span ng-bind="$ctrl.errorHandler"></span>
                    </p>-->

                </form>

            </ui-view>

            <div class="Login-copyright">
                <p>Licenciado a: Softpymes</p>

                <p>Serial N°: XXXX-ASDF-FDSA-QWER-ZXCV</p>

                <p>Numero de Usuarios: 12</p>

                <p>Convenio de soporte vigente hasta: 19/08/2015</p>

                <p>Fecha de Versión: 19/08/2015</p>

                <p>Versión: 2.0.0.1</p>
            </div>

        </div>

    </div>

</ui-view>