<ui-view>

    <div class="col-lg-offset-2 text-center">

        <div class="col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Compañias</h4>
                </div>
                <div class="panel-body">
                    <span style="font-size: 100px">4</span>
                </div>
            </div>

        </div>

        <div class="col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Usuarios</h4>
                </div>
                <div class="panel-body">
                    <span style="font-size: 100px">150</span>
                </div>
            </div>

        </div>

        <div class="col-lg-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Prospectos</h4>
                </div>
                <div class="panel-body">
                    <span style="font-size: 100px">117</span>
                </div>
            </div>

        </div>

    </div>


</ui-view>