<div class="row">

    <div class="col-lg-12">

        <h2>Roles</h2>
        <hr>

        <a class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i> Crear Rol
        </a>

        <div class="clear">&nbsp;</div>

       <table class="table table-bordered">
           <thead>
           <tr>
               <th>Nombre</th>
               <th>Estado</th>
               <th></th>
           </tr>
           </thead>
           <tbody>
           <tr>
               <td>Prueba</td>
               <td>
                   <label class="label label-success">Activo</label>
               </td>
               <td>
                   <button class="btn btn-default btn-xs">
                       <i class="glyphicon glyphicon-eye-open"></i>
                   </button>
               </td>
           </tr>
           </tbody>
       </table>

    </div>

</div>