<ui-view>

    <div class="col-lg-2">
        <admin-nav></admin-nav>
    </div>

    <div class="col-lg-10">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Usuarios</h4>
            </div>
            <div class="panel-body">

                <a class="btn btn-default" ui-sref="app.user.create">
                    <i class="glyphicon glyphicon-plus"></i> Crear Usuario
                </a>

                <div class="clear">&nbsp;</div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in $ctrl.users track by $index">
                        <td ng-bind="user.id"></td>
                        <td ng-bind="user.attributes['first-name']"></td>
                        <td ng-bind="user.attributes['last-name']"></td>
                        <td>
                            <span ng-bind="user.attributes['username']"></span>
                        </td>
                        <td>
                            <button uib-tooltip="Ver Detalles"
                                    class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                            <button uib-tooltip="Modificar"
                                    ui-sref="app.user.update({id: user.id})"
                                    class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button uib-tooltip="Eliminar"
                                    ng-click="$ctrl.delete(user.id)" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</ui-view>