<ui-view>

    <div class="col-lg-2">
        <admin-nav></admin-nav>
    </div>

    <div class="col-lg-10">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Perfiles</h4>
            </div>
            <div class="panel-body">

                <a class="btn btn-default" ui-sref="app.profile.form">
                    <i class="glyphicon glyphicon-plus"></i> Crear Perfil
                </a>

                <div class="clear">&nbsp;</div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descrición</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="profile in $ctrl.profiles track by $index">
                        <td ng-bind="profile.name"></td>
                        <td ng-bind="profile.description"></td>
                        <td>
                            <button uib-tooltip="Ver Detalles"
                                    ng-click="$ctrl.getProfile(profile.id)"
                                    class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>


</ui-view>